<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33001">
        <setting label="30001" type="text" id="username" default=""/>
        <setting label="30002" type="text" id="password" option="hidden" enable="!eq(-1,)" default=""/>
        <setting label="30003" type="bool" id="hack" default="true"/>
    </category>

    
    <category label="33004">
    	<setting label="30015" type="bool" id="server_enable" default="true"/>
    	<setting label="30017" type="number" id="server_port" default="8899" visible="eq(-1,true)"/>
    	<setting type="sep"/>
    	<setting label="30016" type="action" visible="eq(-3,true)" action="XBMC.RunPlugin(plugin://plugin.video.ZattooStalkerBox/?mode=server&action=start)"/>
    	<setting label="30018" type="action" visible="eq(-4,true)" action="XBMC.RunPlugin(plugin://plugin.video.ZattooStalkerBox/?mode=server&action=stop)"/>
    </category>
</settings>